---
---
/* crimson-text-regular - latin */
@font-face {
  font-family: 'Crimson Text';
  font-style: normal;
  font-weight: 400;
  src: url('/css/fonts/crimson-text-v10-latin-regular.eot'); /* IE9 Compat Modes */
  src: local('Crimson Text Regular'), local('CrimsonText-Regular'),
  url('/css/fonts/crimson-text-v10-latin-regular.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('/css/fonts/crimson-text-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
  url('/css/fonts/crimson-text-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
  url('/css/fonts/crimson-text-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
  url('/css/fonts/crimson-text-v10-latin-regular.svg#CrimsonText') format('svg'); /* Legacy iOS */
}
::selection {
  background: rgba({{ site.theme-color }}, .2);
}
::-moz-selection {
  background: rgba({{ site.theme-color }}, .2);
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}

/* Content */

body {
  font-family: "Crimson Text", Georgia, Cambria, "Times New Roman", Times, serif;
  font-size: 20px;
  -webkit-font-smoothing: antialiased;
  font-weight: 400;
  color: rgba({{ site.text-color }}, .8);
  background-color: rgb({{ site.background-color }});
  background-repeat: no-repeat;
  background-size: 100%;
}
html, body {
  height: 100%;
}
p, form {
  line-height: 1.4;
  margin: 10px auto;
  word-wrap: break-word;
}
p * {
  line-height: 1em; /* Bold font line-height fix */
}
strong {
  font-weight: 700;
}
i, em {
  font-style: italic;
}
a {
  color: #034999;
  text-decoration: none;
  position: relative;
  -webkit-background-size: 1px 1px;
  -moz-background-size: 1px 1px;
  background-size: 1px 1px;
  background-repeat: repeat-x;
  background-size: 1px 1px;
  background-position: 0 87%;
}
a:hover{
  text-decoration: underline;
  text-decoration-color: #dd5555;
}
.no-cssgradients a {
  text-decoration: underline;
}
ul,
ol {
  margin: 30px auto;
  padding-left: 30px;
}
ul {
  list-style: disc;
}
ol {
  list-style: decimal;
}
li {
  margin: 20px 0;
  line-height: 1.4;
}
li * {
  line-height: 1.3em; /* Bold font line-height fix */
}
img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
}
.img-only {
  margin: 0 -15px;
  background-color: rgba({{ site.text-color }},.05);
}
.img-only-source {
  margin: 0 -15px;
  text-align: center;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Crimson Text", "Source Sans Pro", Verdana, sans-serif;
  font-weight: 900;
  background-image: none;
  text-decoration: none !important;
  word-wrap: break-word;
  word-spacing: normal;
  letter-spacing: normal;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.4em;
  margin-bottom: 30px;
}
h3, h4, h5, h6 {
  font-size: 1.05em;
  margin-top: 40px;
  margin-bottom: 30px;
}
.meta {
  color: rgba({{ site.text-color }}, 0.5);
  display: block;
  margin-bottom: 10px;
  font-weight: 400;
  font-size: .8em;
}
.fluid-width-video-wrapper {
  margin: 30px auto;
}
table {
  border-collapse: collapse;
  margin: 30px auto;
}
table tr:nth-child(2n){ background-color:#f6f8fa }
td, th {
  padding: .8rem
}
th {
  background-color: rgba({{ site.text-color }}, 0.05);;
}
tr {
  border-bottom: 1px solid  rgba({{ site.text-color }}, 0.05);
}
tr:last-child {
  border: none;
}
thead {
  border-bottom: 2px solid rgba({{ site.theme-color }}, .4);
}
tfoot {
  border-top: 2px solid rgba({{ site.theme-color }}, .4);
}
blockquote {
  padding: 0 20px;
  font-style: italic;
}
/*blockquote::before,*/
/*blockquote::after {*/
/*  font-weight: 400;*/
/*  font-size: 80px;*/
/*  color: rgba({{ site.theme-color }}, .4);*/
/*  display: block;*/
/*  text-align: center;*/
/*  vertical-align: bottom;*/
/*  height: 40px;*/
/*  font-style: normal;*/
/*}*/
/*blockquote::before {*/
/*  content: "“";*/
/*  text-align: left;*/
/*  margin-top: 30px;*/
/*}*/
/*blockquote::after {*/
/*  content: "”";*/
/*  margin-bottom: 30px;*/
/*}*/
blockquote{
  font-size: 1.4em;
  width:60%;
  margin:50px auto;
  font-family:Open Sans;
  font-style:italic;
  color: #555555;
  padding:1.2em 30px 1.2em 75px;
  border-left:8px solid #78C0A8 ;
  line-height:1.6;
  position: relative;
  background:#f8f8f8;
}

blockquote::before{
  font-family:Arial;
  color:#78C0A8;
  font-size:4em;
  position: absolute;
  left: 10px;
  top:-10px;
}

blockquote::after{
  content: '';
}

blockquote span{
  display:block;
  color:#333333;
  font-style: normal;
  font-weight: bold;
  margin-top:1em;
}

code {
  font-family: "Source Code Pro", monospace;
}
p code {
  font-size: .7em;
  display: inline-block;
  border-radius: 2px;
  background-color: rgba({{ site.text-color }},.05);
  border: 1px solid rgba({{ site.text-color }},.1);
  padding: 0 3px;
}
pre {
  display: block;
  background-color: rgba(0,0,0,.8);
  overflow-y: hidden;
  overflow-x: auto;
  font-size: 14px;
  padding: 15px;
  border-radius: 4px;
  color: #f8f8f2;
  line-height: 1.4;
  margin: 30px auto;
}
pre code {
  font-size: 14px;
}
small {
  font-size: .8em;
  color: rgba({{ site.text-color }},.5);
}
small a {
  color: inherit;
  background-image: -webkit-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -moz-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -o-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -ms-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
}
hr {
  border:none;
  background-color: rgba({{ site.theme-color }}, .4);
  margin: 60px auto;
  width: 30%;
  height: 2px;
}
.cover-image-container {
  position: absolute;
  z-index: -9999;
  opacity: .7;
  width: 100%;
}
.cover-image-container::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  {% include gradient.css %}
}

/* Structure */

.wrap {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 1024px;
  min-height: 100%;
  margin-bottom: -141px;
}
.wrap::after {
  content: "";
  display: block;
  height: 141px;
}
.detailHeader{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 700px;
}
.detailPanel{
  margin: 0 auto;
  padding: 0 15px;
  max-width: 90%;
  min-height: 100%;
}
header {
  padding-top: 20px;
  position: relative;
  color: rgba({{ site.text-color }},.5);
}
header img {
  height: 100px;
  display: inline-block;
}
nav {
  margin: 20px 0;
  border-bottom: #485366 1px solid;
}
article {
  margin-top: 30px;
}
article::after,
header::after {
  margin: 50px 0;
  content: "•";
  line-height: 0;
  font-size: 60px;
  display: block;
  text-align: center;
  color: rgba({{ site.theme-color }}, 0.4);
}
article:last-of-type::after {
  content: "";
  margin-top: 80px;
  margin-bottom: 0;
}
a.read-more {
  display: inline-block;
  background-image: none;
  text-decoration: none !important;
  font-weight: 600;
}
input[type="email"],
input[type="number"],
textarea {
  font: inherit;
  display: block;
  border-radius: 4px;
  border: 1px solid rgba({{ site.text-color }},.1);
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
}
input[type="submit"],
input[type="button"] {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-size: inherit;
  font-weight: 600;
  color: rgba({{ site.text-color }},.76);
  background-color: rgba({{ site.text-color }},.05);
  border-radius: 4px;
  padding: 8px 15px;
  width: 100%;
  border: 1px solid rgba({{ site.text-color }},.1);
  cursor: pointer;
}
.pagination {
  margin-top: -30px;
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-weight: 600;
  padding-bottom: 50px;
}
.pagination a {
  background-image: none;
  text-decoration: none !important;
}
.pagination .disabled {
  color: rgba({{ site.text-color }},.1);
}
.pagination .left {
  float: left;
}
.pagination .right {
  float: right;
}
#disqus_thread {
  margin-bottom: 50px;
}
footer {
  font-size: 0.8em;
  color: rgba({{ site.text-color }},0.5);
  text-align: center;
  background-color: rgba({{ site.text-color }}, 0.05);
  border-top: 1px solid rgba({{ site.text-color }}, 0.1);
  height: 140px;
}
footer a {
  background-image: none;
  text-decoration: none !important;
  font-weight: 600;
}
footer .inner {
  margin: 0 auto;
  padding: 0 15px;
  max-width: 740px;
}


/* Content overwrites */

.website-title {
  font-family: "Source Sans Pro", Verdana, sans-serif;
  font-weight: 600;
  font-size: 24px;
  text-align: center;
  display: block;
  background-image: none;
  text-decoration: none !important;
  color: rgba({{ site.text-color }}, .76);
}
nav a {
  display: block;
  padding: 5px;
  text-align: center;
  background-image: none;
  text-decoration: none !important;
  border-radius: 4px;
  overflow: hidden;
  position: relative;
}
nav a:hover {
  color: #dd5555;
}
nav a.current {
  color: rgba({{ site.text-color }}, .76)
}
.subtitle {
  margin: 30px 0;
  color: rgba({{ site.text-color }},.5);
}
.subtitle a {
  background-image: -webkit-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -moz-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -o-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: -ms-linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
  background-image: linear-gradient(rgba({{ site.text-color }},.5),rgba({{ site.text-color }},.5));
}


/* Structure overwrites */

@media all and (min-width: 370px) {
  .website-title {
    font-size: 32px;
  }
}
@media all and (min-width: 500px) {
  .wrap {
    padding: 0 30px;
  }
  footer .inner {
    padding: 0 30px;
  }
  .subtitle,
  .fluid-width-video-wrapper,
  ol,
  ul,
  pre,
  p,
  form {
    margin: 20px 0;
  }
  ol, ul {
    padding-left: 50px;
  }
  li {
    padding-left: 10px;
    margin: 10px 0;
  }
  table {
    margin: 40px auto;
  }
  article::after,
  header::after {
    margin: 70px;
  }
  h1 {
    font-size: 1.8em;
    margin-bottom: 30px;
    color: #034999;
  }
  h2 {
    font-size: 1.4em;
    margin-bottom: -10px;
  }
  h3, h4, h5, h6 {
    font-size: 1.1em;
    margin-top: 40px;
    margin-bottom: -10px;
  }
  .img-only {
    margin: 0 -30px;
  }
  .img-only-source {
    margin: 0 -30px;
  }
  blockquote {
    padding: 0 30px;
    font-size: 1.3em;
  }
  hr {
    margin: 60px auto;
  }
}
@media all and (min-width: {{ site.nav-breaking-point }}) {
  .website-title {
    text-align: left;
  }
  nav {
    position: absolute;
    top: 20px;
    right: 0;
    margin: 0;
  }
  nav a {
    display: inline-block;
    padding: 5px 8px;
  }
  .website-title {
    margin-bottom: 80px;
  }
}
@media all and (min-width: 760px) {
  h1 {
    font-size: 1.8em;
  }
  article:last-of-type::after {
    content: "";
    margin-top: 120px;
    margin-bottom: 0;
  }
}

.mainStats{
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 220%;
}
.statsMsg{
  line-height: 26px;
  font-size: 110%;
}
.modelTitle{
  margin-top:60px;
  font-weight: bold;
  font-size: 120%;
}
.modelDesc{
  font-size: 90%;
  line-height: 120%;
  margin: 10px 0;
  color: rgba({{ site.text-color }},.5);
}

form hr {
  border:none;
  background-color: rgba({{ site.theme-color }}, .4);
  margin: 10px auto;
  width: 30%;
  height: 1px;
  align:left;
}

div.sect{
  margin-top: 20px;
  margin-bottom: 10px;
  font-size: 120%;
  border-bottom: 1px solid rgba({{ site.theme-color }}, .4);
}

.predictionResult{
  line-height: 1.2;
  margin-top: 10px;
  padding: 30px;
  font-size: 120%;
}
.predictionResult span{
  font-weight: bold;
}
.predictionResult.predicted{
  background: beige;
}
.predictionResult ol{
  margin: 0px;
}
.predictionResult li{
  margin: 10px;
  line-height: 1.1;
}
.predictionResult .explainText{
  font-size: 80%;
  margin-top: 12px;
}
.caution{
  margin-top: 20px;
  background-color: #983636;
  padding: 10px;
  line-height: 1.2;
  color: #fbfbfb;
}
.caution ul{
  margin: 0px;
}
.caution li{
  margin: 10px;
  line-height: 1.1;
}
.imgcredit{
  font-size: 60%;
  font-style: italic;
  margin-top: 3px;
  margin-bottom: 20px;
}

select{
  font: inherit;
  display: block;
  border-radius: 4px;
  margin-top: 30px;
  margin-bottom: 30px;
  border: 1px solid rgba({{ site.text-color }},.1);
  padding: 8px 15px;
  width: 100%;
  box-sizing: border-box;
}

#modelContainer{
  display: none;
}

.valueLabel{
  margin-top: 6px;
  margin-bottom: 3px;
  display: inline-block;
}

.desc{
  font-size:110%;
  line-height: 1.4;
  margin-top: 20px;
}

.div-tbl{
  display: table;
  margin-top: 30px;
}
.div-tbl div{
  display: table-cell;
  padding:10px;
  line-height: 1.4;
  vertical-align: top;
}

.div-tbl div img{
  width: 100px;
}

.div-tbl div.title{
  width: 160px;
  text-align: center;
  font-size: 100%;
}

.div-tbl div .info{
  font-size: 100%;
  line-height: 1.4;
  text-align: left;
}

.grpInfo{
  font-size: 110%;
  line-height: 1.4;
}

.selectedPub{
  background-color: #fbfbfb;
  padding: 3px;
  margin: 20px;
}

u{
  text-decoration:none;
  color: #3085d6
}

.hpPanel{
  display: flex;
}

.hpPanel div{
  margin: 20px;
}

.img-cap{
  text-align: center;
  color: #888888;
  font-family: Arial;
  font-size: 80%;
  margin: 6px;
}

.excerpt{
  color: #777;
  font-size: 90%;
  margin: 6px;
}

.blog-meta{
  color: #888888;
  font-family: Arial;
  font-size: 80%;
}